img{
    aspect-ratio: 3/4;
    width: 40vw;
}
#APPLE-img{
aspect-ratio:  3/4;
width: 40vw;
border: 2px solid black; 
}
body{
    background-color: rgb(153, 185, 136);
}
#navbar
{background-color:rgba(22, 200, 22, 0.991);
height: 75px;
display: flex;
border: 2px solid black;
width: 1064px;
}
a{
margin-right: 50px;


}
body {
background-color:rgb(108, 249, 108);
}

 #navbar a {
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#badge1{
    height: 60px;
    width: 60px;
    display: flex;
}
#apple-para{
 background-color:rgba(165, 225, 150, 0.991);  
 border: 2px solid black;

}
#BADGE {
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border: 2px solid black;
}

#BADGE img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}